@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadein-scale {
  0% {
    opacity: 0;
    transform: scale(0.96);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadein-scale {
  animation: fadein-scale 0.7s cubic-bezier(0.4, 0, 0.2, 1) both;
}
